</body>
<script defer src="/dist/main.js"></script>
<script>
    document.addEventListener('alpine:init', () => {
        Alpine.store('global', {
            isFlash: false,
            flashClass: 'error',
            flashData: [],
            showFlash: function(message, flashType) {
                this.isFlash = true

                switch(flashType) {
                    case 'success':
                        this.flashClass = 'bg-green-500'
                        break
                    case 'error':
                        this.flashClass = 'bg-red-500'
                        break
                    case 'warning':
                        this.flashClass = 'bg-yellow-500'
                        break
                    case 'info':
                        this.flashClass = 'bg-cyan-500'
                        break
                    default:
                        this.flashClass = 'bg-red-500'
                        break
                }
                
                if(typeof message === 'object') {
                    this.flashData = message
                }else{
                    this.flashData.push(message)
                }
            },
        })
    })
</script>