<nav class="bg-white w-100 h-14 drop-shadow-sm">
    <div class="container mx-auto flex flex-row">
        <div class="w-1/2 flex flex-row justify-start items-center">
            <a href="/">
                <img src="/images/logo.png" alt="logo" class="h-14">
            </a>
        </div>
        <div class="w-0 md:w-1/2 flex flex-row justify-end items-center invisible md:visible">
            <a href="/" class="btn btn-primary font-bold hover:text-gray-500 transition">Home</a>
            <a href="/article/create" class="btn btn-primary ml-5 font-normal hover:text-gray-500 transition">Create Article</a>
            <a href="/article" class="btn btn-primary ml-5 font-normal hover:text-gray-500 transition">List Article</a>
            <a href="/about" class="btn btn-primary ml-5 font-normal hover:text-gray-500 transition">About</a>
        </div>
        <div class="w-1/2 md:w-0 flex flex-row justify-end items-center visible md:invisible">
            <div class="space-y-2 mr-3">
                <div class="w-8 h-0.5 bg-gray-600"></div>
                <div class="w-8 h-0.5 bg-gray-600"></div>
                <div class="w-8 h-0.5 bg-gray-600"></div>
            </div>
        </div>
    </div>
</nav>