<label for="title">Title</label> <br>
<input type="text" name="title" value="<%= typeof article != 'undefined' ? article?.title : '' %>" id="title" /> <br>

<label for="author">Author</label> <br>
<input type="text" name="author" value="<%= typeof article != 'undefined' ? article?.author : '' %>" id="author" /> <br>

<label for="body">Body</label> <br>
<textarea name="body" id="body" cols="30" rows="10"><%= typeof article != 'undefined' ? article?.body : '' %></textarea> <br>

<label for="thumbnail">Thumbnail</label> <br>
<input type="file" name="thumbnail" id="thumbnail" /> <br>