<%- include('../partials/header.ejs') %>

    <h1>Create new article</h1>

    <form action="/article/store" method="post">
        <label for="title">Title</label> <br>
        <input type="text" name="title" id="title" /> <br>

        <label for="author">Author</label> <br>
        <input type="text" name="author" id="author" /> <br>

        <label for="body">Body</label> <br>
        <textarea name="body" id="body" cols="30" rows="10"></textarea> <br>

        <button type="submit">Submit</button>
    </form>

<%- include('../partials/globalJs.ejs') %> 