<%- include('../partials/header.ejs') %>
    <h1>Create new article</h1>
    <form action="/article/store" method="post">
        <%- include('./partials/form.ejs') %> 
        <button type="submit">Submit</button>
    </form>
<%- include('../partials/globalJs.ejs') %>
<script>
    const form = document.querySelector('form')
    form.addEventListener('submit', function(e) {
        e.preventDefault()
        const formData = new FormData(e.target)

        fetch('/article/store', {
            method: 'POST',
            body: formData
        })
        .then(res => res.json())
        .then(res => {
            if(res.code == 1){
                window.location.href = '/article'
            }else{
                Alpine.store('global').showFlash(res.message, 'error')
            }
        })
        .catch(err => {
            console.log(err)
            Alpine.store('global').showFlash('Something went wrong!', 'error')
        })
    })
</script>
</html>