<%- include('../partials/header.ejs') %>

    <h1>Edit article</h1>

    <form>
        <%- include('./partials/form.ejs') %> 
        <button type="submit">Submit</button>
    </form>

<%- include('../partials/globalJs.ejs') %> 
<script>
    const form = document.querySelector('form')
    form.addEventListener('submit', function(e) {
        e.preventDefault()
        const title = document.querySelector('#title').value
        const author = document.querySelector('#author').value
        const body = document.querySelector('#body').value
        const data = {
            title,
            author,
            body
        }
        fetch('/article/update/<%= article._id %> ', {
            method: 'PATCH',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
        .then(res => res.json())
        .then(res => {
            if(res.code == 1){
                window.location.href = '/article'
            }else{
                console.log(res.message);
            }
        })
    })
</script>
</html>