<%- include('../partials/header.ejs') %> 
<body>
    <h1>This page is <%= title %> </h1>
    <h3>Welcome to article management system</h3>
    <h4>Choose your action : </h4>
    <ul>
        <li><a href="/article/create" class="btn btn-primary">Create Article</a></li>
        <li><a href="/article" class="btn btn-primary">List Article</a></li>
        <li><a href="/about" class="btn btn-primary">About</a></li>
    </ul>
</body>
</html>